body{
    background-color: #E7E7E8;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
    position: relative;
    color: #1c2534;
} 
h3  {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    color: #374A67;
}
.container {
    border-radius: 28px;
    background-color: #ffffff;
    padding: 20px;
    width: 350px;
    height:fit-content;
    padding: 20px 50px 30px 50px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container1 {
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 0px;
    gap: 10px;
}
label {
    font-weight: 600;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.input1 {
    background: rgba(175, 183, 194, 0.1);
    border: 2px solid #374A67;
    border-radius: 6px;
    width: 280px;
    height: 40px;
    flex: none;
    flex-grow: 0;
}
.input2 {
    background: rgba(175, 183, 194, 0.1);
    border: 1px solid #9BA5B3;
    border-radius: 6px;
    width: 280px;
    height: 40px;
    flex: none;
    flex-grow: 0;
}
select {
    background: rgba(175, 183, 194, 0.1);
    border: 1px solid #9BA5B3;
    border-radius: 6px;
    width: 320px;
    height: 40px;
    flex: none;
    flex-grow: 0;
}
.input1, .input2 {
    padding: 0 20px;
}
.mdp {
    color: dodgerblue;
    text-align: right;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}
.bouton {
    background: #374A67;
    width: 322px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 5px 30px;
    color: #ffffff;
}

