body {
    box-sizing: border-box;
    background-color: #E7E7E8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
}
h2 {
    color: #1C2534;
}
.table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0 30px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}
span {
    font-weight: 500;
}
.sidebar {

    width: 300px;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -5%;
    margin-top: -1%;
    padding: 40px;
}

.sidebar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.is_active {
    background-color: #374A67;
    padding: 10px;
    border-radius: 8px;
}

.dropdown .dropbtn {
    background-color: white;
    padding: 18px 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 8px;
    background-color: #374A67;
    min-width: 230px;
    left: 200px;
    top: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color:#ffffff;
    padding: 12px 14px;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 8px;
}

.conteneur {
    display: flex;
    justify-content: space-between;
    margin: 5px 32px;
}

/* Formulaire */

#cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    gap: 10px;
    position: relative;
}
h3 {
    margin-bottom: 45px;
}
.container {
    border-radius: 28px;
    background-color: #ffffff;
    padding: 20px;
    width: 350px;
    height: fit-content;
    padding: 40px 50px 40px 50px;
    position: absolute;
    left: 500px;
}
div.container {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container1 {
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 0px;
    gap: 10px;
}
label {
    font-weight: 600;
    font-size: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.input1 {
    background: rgba(175, 183, 194, 0.1);
    border: 2px solid #374A67;
    border-radius: 6px;
    width: 280px;
    height: 40px;
    flex: none;
    flex-grow: 0;
}
.bouton {
    background: #374A67;
    width: 322px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 5px 30px;
    color: #ffffff;
}
@media screen and (max-width: 400px) {
    .sidebar {
      width: 100%;
      height: 500px;
      position: relative;
    }
    .sidebar a {float: left;}
    .container {
        position: relative;
        width: 300px;
        left: 10px;
    }
    .input1 {
        width: 150px;
    }
    .bouton {
        width: 150px;
    }
  }