body {
    box-sizing: border-box;
    background-color: #E7E7E8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 15px;
    font-family: monospace;
    color: #1c2534;

}
h2 {
    color: #374A67;
    
}
.table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0 30px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1;
}
.dash, .user {
    display: flex;
    position: static;
    
}
.img1 {
    width: 35px;
    height: 35px;
    position: relative;
    top: 8px;
    opacity: 85%;
}
.img2 {
    width: 35px;
    height: 35px;
    position: absolute;
    top:70px;
    opacity: 85%;
}
.img3 {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 50px;
    top: 360px;
    opacity: 85%;
}
.div1 {
    display: flex;
    margin-left: 10px;
    padding-right: 20px;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    padding-right: 50px;
}
span {
    font-weight: 500;
}
.sidebar {

    width: 300px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -5%;
    margin-top: 5%;
    padding: 60px 50px;
    overflow: auto;
    z-index: 1;
}
.cotebar {

    width: 300px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -2.5%;
    margin-top: -2%;
    padding: 60px 50px;
    overflow: auto;
    z-index: 1;
}

.sidebar a, .cotebar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}
aside a:hover {
    background-color: #374A67;
    color: #ffffff;
}
.sidebar a, .cotebar a:hover {
    border-radius: 8px;
    border:none;
}
.dropbtn {
    background-color: white;
    padding: 18px 10px;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #374A67;
    border-radius: 8px;
    color:#ffffff;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 8px;
    background-color: #ddd;
    min-width: 255px;
    left: 50px;
    bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #000000;
    padding: 12px 14px;
    display: block;
    text-align: left;
    border-radius: 8px;
}
.dropdown-content a:hover {
    background-color: #374A67;
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.bas {
    position: relative;
    top: 80px;
    left: 70px;
}
.bas a {
    font-weight: 800;
    border-radius: 8px;
    background-color: #374A67;
    color: #ffffff;
}


/* Formulaire */

#cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
    gap: 5px;
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
h3 {
    margin-bottom: 25px;
    font-size: 20px;
    color: #374A67;
}
.contain {
    left: 350px;
    
}
.confer {
    left: 200px;
}
div.confer {
    margin-left: 200px;
    padding: 1px 16px;
  }
.contenir {
    left: 600px;
    padding: 1px 16px;
  }
  .rechercher {
    left: 500px;
    padding: 1px 16px;
  }
.result {
    left: 650px;
}
.container {
    left: 600px;
}
div.container {
    margin-left: 200px;
    padding: 10px 16px;
  }
.conteneur {
    display: flex;
    justify-content: space-between;
    margin: 5px 32px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container1 {
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}
label {
    font-weight: 600;
    font-size: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.input1 {
    background: rgba(175, 183, 194, 0.1);
    border: 2px solid #374A67;
    border-radius: 8px;
    width: 322px;
    height: 40px;
    flex: none;
    flex-grow: 0;
}
.input2 {
    background: rgba(175, 183, 194, 0.1);
    border: 1px solid #9BA5B3;
    border-radius: 8px;
    width: 322px;
    height: 40px;
    flex: none;
    flex-grow: 0;
}

#depart {
    background: rgba(175, 183, 194, 0.1);
    border: 1px solid #9BA5B3;
    border-radius: 8px;
    width: 322px;
    height: 40px;
    flex: none;
    flex-grow: 0;
}
.bout {
    margin-top: 30px;
    background: #374A67;
    width: 322px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.bouton {
    background: #374A67;
    width: 322px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.bouton3 {
    margin-top: 30px;
    background: #374A67;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.case {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    gap: 125px;
    width: 800px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.etat {
    padding-bottom: 60px;
    padding-top: 15px;
}
@media screen and (max-width: 1000px) {
    .conteneur {
        position: absolute;
        z-index: -1;
        display: block;
        right: 0;
        left: 0;
        padding-bottom: 30px;
    }
    #cont {
        padding: 30px;
    }
    .eval {
        position: relative;
        z-index: 1;
        display: block;
        right: 0;
        left: 0;
        overflow-y: scroll;
        scroll-behavior: smooth;
        overflow-x: hidden;
       
    }
    .sidebar {
        position: relative;
        width: 100%;
        display: block;
        height: fit-content;
        justify-content: center;
    }
    .cotebar {
        margin-top: 55px;
        position: relative;
        width: fit-content;
        /*width: 100%;*/
        display: block;
        height: fit-content;
        justify-content: center;
    }


    h3, h2 {
        text-align: center;
    }
    .confer {
        left: 200px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        overflow-x: hidden;
        display: contents;
        position: relative;
    }
    #cont {
        display: contents;
        align-items: center;
        justify-content: space-between;
        margin: 100px 30px;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px;
        gap: 5px;
        position: relative;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 8px;
        background-color: #ddd;
        min-width: 250px;
        left: 50px;
        bottom: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
  
    .critere {
        display: block;
        position: relative;
        margin: 0;
    }
    .case {
        display: block;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        gap: 100px;
        width: 800px;
        height: 60px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
   .critere p {
        width:90%;
        margin:auto;
        min-width:250px;
        max-width:150px;
        flex-direction: column-reverse;
        text-align: right;
        }
    .img3 {
        width: 35px;
        height: 35px;
        position: absolute;
        right: 110px;
        top: 360px;
        opacity: 85%;
    }
    .bas {
        position: relative;
        top: 20px;
        left: 70px;
    }
    
  }
.def {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 5px;
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 20px;
    width: max-content;
    height: fit-content;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    bottom: 0;
}

.mention {
    display: block;
    padding: 10px;
}
.resolve {
    color:#000000;
}
.except {
    color: #ffffff;
}
.box  {
    /*height: 210px;
    width: 210px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #374A67;
    margin: 20px;
    text-align: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 46px;
    gap: 20px;
    width: 247px;
    height: 240px;
    background: #374A67;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.box1 {
    /*height: 100px;
    width: 100px;
    background-color: #9BA5B3;
    border-radius: 50px;
    position: absolute;
    right: 130px;
    bottom: 270px;
    text-align: center;
    justify-content: space-between;
    z-index: 2;*/
    position: absolute;
    width: 149px;
    height: 149px;
    left: 165px;
    top: 180px;
    background: #9BA5B3;
    border-radius: 75px;
}
.box1 p {
    /*position: absolute;
    top: 30px;
    right: 35px;*/
    position: absolute;
    width: 47px;
    height: 33px;
    left: 55px;
    top: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    font-weight: 500;
}
.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 500;
}
.box3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    height: 20px;
    width: 250px;
    background: #374A67;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 500;
}

.recomp {
    padding: 10px 30px;
    font-weight: 500;
    font-size: 18px;
}
.augmentation {
    color: #374A67;
    font-weight: 600;
}