body {
    box-sizing: border-box;
    background-color: #E7E7E8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 15px;
    font-family: monospace;
    color: #1c2534;

}
h2 {
    color: #374A67;
    
}
.table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0 30px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1;
}
.dash, .user {
    display: flex;
    position: static;
    
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    padding-right: 50px;
}
span {
    font-weight: 500;
}
.sidebar {

    width: 300px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -5%;
    margin-top: 5%;
    padding: 60px 50px;
    overflow: auto;
    z-index: 1;
}
.cotebar {

    width: 300px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -1%;
    margin-top: -2%;
    padding: 60px 50px;
    overflow: auto;
    z-index: 1;
}

.sidebar a, .cotebar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}
aside a:hover {
    background-color: #374A67;
    color: #ffffff;
}
.sidebar a, .cotebar a:hover {
    border-radius: 8px;
}
.dropbtn {
    background-color: white;
    padding: 18px 10px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #374A67;
    border-radius: 8px;
    color:#ffffff;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 8px;
    background-color: #ddd;
    min-width: 250px;
    left: 50px;
    bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #000000;
    padding: 12px 14px;
    display: block;
    text-align: left;
    border-radius: 8px;
}
.dropdown-content a:hover {
    background-color: #374A67;
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Formulaire */

#cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 30px;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
    gap: 5px;
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
h3 {
    margin-bottom: 25px;
    font-size: 20px;
    color: #374A67;
}
.contain {
    left: 350px;
    
}
.confer {
    left: 200px;
}
div.confer {
    margin-left: 200px;
    padding: 1px 16px;
  }
.contenir {
    left: 600px;
    padding: 1px 16px;
  }
.container {
    left: 500px;
}
div.container {
    margin-left: 200px;
    padding: 10px 16px;
  }
.conteneur {
    display: flex;
    justify-content: space-between;
    margin: 5px 32px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container1 {
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}
label {
    font-weight: 600;
    font-size: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.input1 {
    background: rgba(175, 183, 194, 0.1);
    border: 2px solid #374A67;
    border-radius: 8px;
    width: 322px;
    height: 40px;
    flex: none;
    flex-grow: 0;
}
.input2 {
    background: rgba(175, 183, 194, 0.1);
    border: 1px solid #9BA5B3;
    border-radius: 8px;
    width: 322px;
    height: 40px;
    flex: none;
    flex-grow: 0;
}
#depart {
    background: rgba(175, 183, 194, 0.1);
    border: 1px solid #9BA5B3;
    border-radius: 8px;
    width: 322px;
    height: 40px;
    flex: none;
    flex-grow: 0;
}
.bout {
    margin-top: 30px;
    background: #374A67;
    width: 322px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}
.bouton {
    background: #374A67;
    width: 322px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}
.case {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    gap: 125px;
    width: 800px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.etat {
    padding-bottom: 60px;
}
@media screen and (max-width: 800px) {
    .conteneur {
        position: absolute;
        z-index: -1;
        display: block;
        right: 0;
        left: 0;
    }
    .eval {
        position: relative;
        z-index: 1;
        display: block;
        right: 0;
        left: 0;
        overflow-y: scroll;
        scroll-behavior: smooth;
        overflow-x: hidden;
       
    }
    .sidebar {
        position: relative;
        width: 100%;
        display: block;
        height: fit-content;
        justify-content: center;
    }
    .cotebar {
        margin-top: 55px;
        position: relative;
        width: fit-content;
        /*width: 100%;*/
        display: block;
        height: fit-content;
        justify-content: center;
    }


    h3, h2 {
        text-align: center;
    }
    .confer {
        left: 200px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        overflow-x: hidden;
        display: contents;
        position: relative;
    }
    #cont {
        /*display: contents;
        position: relative;
        overflow-y: scroll;
        scroll-behavior: smooth;*/
        display: contents;
        align-items: center;
        justify-content: space-between;
        margin: 100px 30px;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px;
        gap: 5px;
        position: relative;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 8px;
        background-color: #ddd;
        min-width: 250px;
        left: 50px;
        bottom: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
  }
.def {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    /*margin-top: 50px;*/
    gap: 10px;
    width: 810px;
    height: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    bottom: 0;
}